<!DOCTYPE html>
<html lang="en">
<head>
    <title>REGISTER</title>
    <link rel="stylesheet" href="/static/style.css
">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Register User</h2>
    <a href="/user">GO to Users Page</a>
    <form method="post" action="/register">
        <label>Name:</label>
        <input type="text" name="name" required><br>
        <label>Email:</label>
        <input type="email" name="email" required ><br>
        <label>Phone:</label>
        <input type="text" name="phone" required><br>
        <button type="submit">Register</button>
    </form>    
</body>
</html>